@import "tailwindcss";

body {
  @apply m-0 bg-gray-900;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  @apply font-bold text-2xl;
}

p,
h1,
label,
a {
  @apply text-white flex gap-2;
}

input,
textarea {
  @apply border-white border rounded-sm p-1 text-white w-full;
}

button,
.link-button {
  @apply flex gap-2 justify-center items-center px-1 bg-blue-500 text-white font-semibold  p-1 rounded-md active:bg-blue-600 active:scale-95;
}

.todo-list-card {
  @apply p-2 rounded-md bg-gray-800 flex justify-between items-center;
}

.button-group {
  @apply flex gap-2;
}
